<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="rtl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" dir="rtl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="rtl" lang='fa'> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.desc }}">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <title>{{ site.title }}</title>
  <!-- Bootstrap theme -->
  <link href="/css/bootstrap.rtl.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.rtl.css" rel="stylesheet">

  <!-- Custom styles for this site -->
  <link href="/css/site.css" rel="stylesheet">
  <!-- highlight ref: https://github.com/richleland/pygments-css/blob/master/github.css -->
  <link href="/css/highlight.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% capture edit_url %}{{ site.prose_url }}#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.filename }}{% endcapture %}
</head>
<body class="{{ page.id }}" role="document">
  <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.root_url }}/">خانه آزمايشگاه دانا</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/IndexEn.html">English</a></li>
              <li><a href="/about.html">حامیان پروژه</a></li>
              <li><a href="/contact.html">تماس</a></li>
              <li><a href="/faq.html">سوالات</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">اجزاء پروژه دانا<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/DANA-Laboratory.jl">سرور دانا</a></li>
                  <li><a href="/DANA-Laboratory.java">واسط کاربري دانا</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">برنامه نويسان<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ edit_url }}">کمک به تکميل متن</a></li>
                  <li><a href="http://github.com/{{ site.org_name }}/{{ site.repo_name }}/commits/{{ site.branch }}">نمايش تغييرات</a></li>
                  <li><a href="http://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues">گفتگو</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">.........GitHub بانک کد.........</li>
                  <li><a href="http://github.com/{{ site.org_name }}/{{ site.repo_name }}">آزمایشگاه دانا</a></li>
                  <li><a href="http://github.com/{{ site.org_name }}/DANA-Laboratory.jl">سرور دانا</a></li>
                  <li><a href="http://github.com/{{ site.org_name }}/DANA-Laboratory.java">واسط کاربری دانا</a></li>
                </ul>
              </li>
              <li><a href="/assets/Resources/DANA_Small_Logo.png">DANA logo</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->
    </div> <!-- /.container -->
  </div><!-- /.navbar-wrapper -->

