<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="rtl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" dir="rtl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="rtl"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.desc }}">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <title>{{ site.title }}</title>
  <!-- Bootstrap theme -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Custom styles for this site -->
  <link href="/css/site.css" rel="stylesheet">
  <!-- highlight ref: https://github.com/richleland/pygments-css/blob/master/github.css -->
  <link href="/css/highlight.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% capture edit_url %}{{ site.prose_url }}#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.filename }}{% endcapture %}
</head>
<body>
